
<div class="text-center">
    <h1>Gym Tracker</h1>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6WNDVDbpqdz2N-Gx4XTcALt5jXqpNRzsP8Q&usqp=CAU" class="rounded mx-auto d-block" alt="Gym Logo">

    <h3 class="text-secondary">
        Keep track of your gym workouts!
    </h3>


<% if @current_user.present? %>
    <h2>Your already logged in as <%= @current_user.email %></h2>
<% else %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <%= button_to "Sign Up", new_user_path, :method => "get", :class => "btn btn-primary btn-lg" %>
        <%= button_to "Login", login_path, :method => "get", :class => "btn btn-secondary btn-lg"%>
<% end %>