<div class='container-sm'>
    <h1>Log in</h1>
    <h5>Welcome back! Please enter your details.</h5>
    
    
    
            <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-lg" %>
            <%= button_to "Login", login_path, :method => "get", :class => "btn btn-secondary btn-lg"%>
    <% end %>
</div>